<li class="dropdown">
    <a class="dropdown-toggle clearNotifications" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i>{% if notifications|length() > 0 %} <span class="badge">{{ notifications|length() }}</span> {% endif %} <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-alerts">
        {% for notification in notifications %}
        <li>
            <a href="{{ notification.link }}">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    {% if notification.image is not null %}
                        <img src="{{ notification.image }}" style="vertical-align:middle;" class="image-responsive col-xs-4 col-sm-4 col-md-4">
                    {% endif %}
                    <span class="col-xs-8 col-sm-8 col-md-8">{{ notification|parseSopinetUserNotification() }}
                    </span>
                    <span class="pull-right text-muted small ">{{ notification.createdAt|getTimeAgo() }}</span>
                </div>
            </a>            
        </li>
        <li class="divider"></li>
        {% endfor %}
        {% if text_seemore is defined %}
        <li>
            <a class="text-center" href="{{ link_seemore }}">
                {{ text_seemore }}
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        {% endif %}
    <a href="{{ path('panel_profile_notifications') }}" class="label">
    <i class="fa fa-clipboard"></i>&nbsp; {{ 'Notifications.link'|trans }}</a>
    </ul>
</li>